// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 0;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#sushi-list {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: scroll;

    &>li {
    background-color: #ffffff;
    list-style: none;
    margin-bottom: 5px;
    //padding: 5px;
    height: 41px;
    position: relative;

        &>span.counter {
            color: #ffffff;
            font-weight: bold;
            font-size: 12px;
            border-radius: 10px;
            line-height: 20px;
            background-color: #4c8b70;
            width: 20px;
            text-align: center;
            display: inline-block;
        }
        
        &>span.remove {
            display: none;
        }

        &>.controls {
            position: absolute;
            right: 20px;
            top: 0;
            height: 41px;
            width: 20px;

            span {
                padding: 0;
                margin: 0;
                display: block;
                background-color: #c3c3c3;
                width: 20px;
                line-height: 20px;
                text-align: center;
                cursor: pointer;
            }
        }

        &:hover > span.remove {
            display: block;
            background-color: #c3c3c3;
            padding: 5px;
            float: right;
            cursor: pointer;
        }
    }
}

.new-item {
    -webkit-transform: translateX(-100%);
    -webkit-animation: add-item 1.5s forwards;
    background-color: red;
}

@-webkit-keyframes add-item {
    0% {
        height: 0;
    }
    20% {
        height: 41px;
        background-color: #F7DED7;    
        -webkit-transform: translateX(0%);
    }

    50% {
        height: 41px;
        background-color: #F7DED7;    
        -webkit-transform: translateX(0%);   
    }

    100% {
        height: 41px;
        background-color: #ffffff;
        -webkit-transform: translateX(0%);
    }
}


.removed {
  -webkit-animation: disapear 0.5s;
}

@-webkit-keyframes disapear{
  from {
    height: 41px;
    -webkit-transform: translateX(0%);
    }

  to {
    -webkit-transform: translateX(100%);
    height: 0;
    margin-bottom: 0;
    opacity: 0;
  }
}

.highlight-counter {
    -webkit-animation: highlight-counter 0.3s;
}

@-webkit-keyframes highlight-counter {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.4);
    }

    100% {
        -webkit-transform: scale(1);
        text-indent: 0;
    }
}


